
<div class="row">
    @{

        var addId = Session["cboDelAddress"] != null && Session["cboDelAddress"].ToString() !=""? Convert.ToInt32(Session["cboDelAddress"].ToString()) : 0;
        var busAdd = ((List<Maximus.Data.Models.BusAddress1>
            )Session["DeliveryAddress"]).Any(x => x.AddressId == addId) ? ((List<Maximus.Data.Models.BusAddress1>
                )Session["DeliveryAddress"]).Where(x => x.AddressId == addId).First() : new Maximus.Data.Models.BusAddress1();
    }
    @Html.DevExpress().ComboBox(comboBoxSettings =>
{
    comboBoxSettings.Name = "CmbAddress";
    comboBoxSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    comboBoxSettings.Properties.Caption = "Address description";
    if ((bool)Session["DELREFREQ"] == false)
    {
        comboBoxSettings.Properties.ClientSideEvents.SelectedIndexChanged = "FillAlldeliveryfields";
    }
    else
    {
        comboBoxSettings.Properties.ClientSideEvents.SelectedIndexChanged = "FillCustRefandDeliveryFields";
    }
    comboBoxSettings.ControlStyle.CssClass = "pull-left";
    comboBoxSettings.Properties.DropDownWidth = System.Web.UI.WebControls.Unit.Percentage(100);
    comboBoxSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
    comboBoxSettings.Properties.ValueField = "AddressID";
    comboBoxSettings.Properties.TextField = "AddressDescription";
    comboBoxSettings.Properties.ValueType = typeof(string);
    comboBoxSettings.Properties.TextFormatString = "{0}";
    comboBoxSettings.Properties.Columns.Add("AddressDescription", "Description", System.Web.UI.WebControls.Unit.Percentage(100));

    comboBoxSettings.SelectedIndex = ((List<Maximus.Data.Models.BusAddress1>)Session["DeliveryAddress"]).IndexOf(busAdd);
    //comboBoxSettings.Properties.Columns.Add("AddressID", "AddressID", System.Web.UI.WebControls.Unit.Percentage(100));
    //comboBoxSettings.Properties.Columns.Add("Address1", "Address1", System.Web.UI.WebControls.Unit.Percentage(100));
    //comboBoxSettings.Properties.Columns.Add("Address2", "Address2", System.Web.UI.WebControls.Unit.Percentage(100));
    //comboBoxSettings.Properties.Columns.Add("Address3", "Address3", System.Web.UI.WebControls.Unit.Percentage(100));
    //comboBoxSettings.Properties.Columns.Add("City", "City", System.Web.UI.WebControls.Unit.Percentage(100));
    //comboBoxSettings.Properties.Columns.Add("PostCode", "PostCode", System.Web.UI.WebControls.Unit.Percentage(100));
    //// comboBoxSettings.Properties.DataSource = ViewBag.MultiComboBoxSites;
    //if (Model.Address != null)
    //{
    //    var busAdd = Model.AddressLst.Any(x => x.AddressId == Model.Address.AddressId) ? Model.AddressLst.Where(x => x.AddressId == Model.Address.AddressId).First() : new Maximus.Data.ModelsBusAddress();
    //    comboBoxSettings.SelectedIndex = Model.AddressLst.IndexOf(busAdd);
    //}
}).BindList(Model).GetHtml()
</div>

<br />
<br />
<div class="row">
    @*@{
            if ((bool)ViewData["booAddrDef"])
            {
                if ((bool)ViewData["booAddrEdit"])
                {
                    <div class="col-md-3">
                        @Html.DevExpress().CheckBox(sett =>
               {
                   sett.Name = "optNewAddr";
                   sett.Text = "New";
               }).GetHtml()
                    </div>
                    <div class="col-md-3"  style="display:none;">
                        @Html.DevExpress().CheckBox(sett =>
               {
                   sett.Name = "chkAddress";
                   sett.Text = "Map this address to employee";
               }).GetHtml()
                    </div>
                    <div class="col-md-3">@Html.DevExpress().TextBox(settings => { settings.Name = "txtAddrChange"; settings.Properties.Caption = "txtAddrChange"; }).GetHtml()</div>
                }
            }
        }*@
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        @Html.DevExpress().TextBox(settings =>
   {
       settings.Name = "Address1";
       settings.Properties.Caption = "Address1";
       settings.ControlStyle.CssClass = "deliveryTbx";

       settings.Text = busAdd != null ? busAdd.Address1 : "";

   }).GetHtml()
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        @Html.DevExpress().TextBox(settings =>
   {
       settings.Name = "Address2"; settings.Properties.Caption = "Address2";
       settings.ControlStyle.CssClass = "deliveryTbx";

       settings.Text = busAdd != null ? busAdd.Address2 : "";

   }).GetHtml()
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        @Html.DevExpress().TextBox(settings =>
   {
       settings.Name = "Address3";
       settings.Properties.Caption = "Address3";
       settings.ControlStyle.CssClass = "deliveryTbx";

       settings.Text = busAdd != null ? busAdd.Address3 : "";

   }).GetHtml()
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        @Html.DevExpress().TextBox(settings =>
   {
       settings.Name = "City";
       settings.Properties.Caption = "City";
       settings.ControlStyle.CssClass = "deliveryTbx";

       settings.Text = busAdd != null ? busAdd.City : "";

   }).GetHtml()
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        @Html.DevExpress().TextBox(settings =>
   {
       settings.Name = "PostCode";
       settings.Properties.Caption = "Postcode";
       settings.ControlStyle.CssClass = "deliveryTbx";

       settings.Text = busAdd != null ? busAdd.PostCode : "";

   }).GetHtml()
    </div>

    @*<div class="col-md-3">
            @Html.DevExpress().TextBox(settings => { settings.Name = "Country"; settings.Properties.Caption = "Country"; settings.Text = busAdd != null ? busAdd.Country : ""; }).GetHtml()
        </div>*@
</div>
