
@{
    ViewBag.Title = "ShowBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Maximus.Models.DataProcessing dp = new Maximus.Models.DataProcessing();
}
<h2>ShowBasket</h2>
@Html.Action("CartView")
<br />
<br />
<div class="row" style="background-color:white;">
    <div class="row colrer" style="margin:0px">
        <br /> <center>
            <b>
                Charges
            </b>
        </center>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <br />
            <div class="row">
                <div class="col-md-5" style="color:black;">
                    Total Goods
                </div>
                <div class="col-md-6">
                    @Html.DevExpress().TextBox(sett =>
               {
                   sett.Name = "txtTotGoods";
                   sett.Text = ViewBag.Total!=null?ViewBag.Total.ToString():"0.0";
                   sett.ControlStyle.CssClass = "rightaligntext";
                   sett.ReadOnly = true;
               }).GetHtml();
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5" style="color:black;">
                    Carrier Charges
                </div>
                <div class="col-md-6">
                    @Html.DevExpress().TextBox(sett =>
               {
                   sett.Name = "txtCarrierCharges";
                   sett.Text = ViewBag.carriage != null ? ViewBag.carriage.ToString() : "0.0";
                   sett.ControlStyle.CssClass = "rightaligntext";
                   sett.ReadOnly = true;
               }).GetHtml();
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-5" style="color:black;"> Order Total</div>
                <div class="col-md-6">
                    @Html.DevExpress().TextBox(sett =>
               {
                   sett.Name = "txtOrdTotal";
                   sett.Text = ViewBag.ordeTotal != null ? ViewBag.ordeTotal.ToString() : "0.0";
                   sett.ControlStyle.CssClass = "rightaligntext";
                   sett.ReadOnly = true;
               }).GetHtml();
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5"  style="color:black;"> VAT <span>@if (ViewBag.VatPercent != null) { <p> @ViewBag.VatPercent % of total goods </p> }</span>  </div>
                <div class="col-md-6">
                    @Html.DevExpress().TextBox(sett =>
               {
                   sett.Name = "txtVAT";
                   sett.Text=ViewBag.totalVat!=null?ViewBag.totalVat.ToString() : "0.0";
                   sett.ControlStyle.CssClass = "rightaligntext";
                   sett.ReadOnly = true;
               }).GetHtml()
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5"  style="color:black;">Grand Total</div>
                <div class="col-md-6">
                    @Html.DevExpress().TextBox(sett =>
               {
                   sett.Name = "txtGrndTot";
                   sett.Text = ViewBag.GrossTotal != null ? ViewBag.GrossTotal.ToString() : "0.0";
                   sett.ControlStyle.CssClass = "rightaligntext";
                   sett.ReadOnly = true;
               }).GetHtml()
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />
<br />
<div class="row" style="background-color:white;">
    <div class="row colrer" style="margin:0px;">
        <br /> <center>
            <b>
                Carriage and Reasons
            </b>
        </center>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <br />
            <div class="col-md-4">
                @Html.DevExpress().ComboBox(x =>
           {
               x.Name = "CarriageCmbbox";
               x.Properties.Caption = "Carrier";
               foreach (var dat in (List<string>)ViewData["carrierFill"])
               {

                   x.Properties.Items.Add(dat);
               }
               if (ViewData["selectedcar"] != null)
               {
                   x.SelectedIndex = ((List<string>)ViewData["carrierFill"]).IndexOf(ViewData["selectedcar"].ToString());
               }
               x.Properties.ClientSideEvents.SelectedIndexChanged = "SettbxValue";
           }).GetHtml();
            </div>
            <div class="col-md-4">
                @Html.DevExpress().TextBox(x =>
           {
               x.Name = "CarriageTexbox";
               x.ReadOnly = true;
               x.Text = ViewData["selectedcar"] != null ? ViewData["selectedcar"].ToString() : "";
           }).GetHtml();
            </div>
            <div class="col-md-4">
                @Html.DevExpress().ComboBox(x =>
           {
               x.Name = "CarriageStyleCmbbox";
               x.Properties.Caption = "Carrier style";
               foreach (var dat in (List<string>)ViewData["carrierStyleFill"])
               {
                   x.Properties.Items.Add(dat);
               }

           }).GetHtml();
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<br />
<br />
<div class="row" style="background-color:white;">
    <div class="row colrer" style="margin:0px;">
        <br /> <center>
            <b>
                Date & Customer Ref
            </b>
        </center>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <br />
                <div class="col-md-3">
                    @Html.DevExpress().DateEdit(settings =>
               {
                   settings.Properties.Caption = "Order date";
                   settings.Name = "DateEdit";
                   settings.Properties.NullText = DateTime.Now.Date.ToString("dd-MMM-yyyy");
                   settings.ReadOnly = true;
               }).GetHtml()
                </div>
                @if (Convert.ToBoolean(ViewData["ddlCustRef"]))
                {
                    <div class="col-md-3">
                        @Html.DevExpress().ComboBox(sett =>
               {
                   sett.Name = "ddlCustRef";

               }).GetHtml()
                    </div>
                }
                <div class="col-md-3">
                    @Html.DevExpress().TextBox(set =>
               {
                   set.Name = "txtCustRef";
                   set.Properties.Caption = Session["ONLCUSREFLBL"].ToString();
                   set.Text = Session["CustRef"].ToString() != "" ? Session["CustRef"].ToString() : "";
                   set.Properties.ClientSideEvents.LostFocus = "saveCustRef";
                   if ((bool)Session["CusRefMan"])
                   {
                       set.Properties.ValidationSettings.RequiredField.IsRequired = true;
                       set.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                   }
               }
               ).GetHtml()
                </div>
                <div class="col-md-3" style="display:none;">
                    @Html.DevExpress().TextBox(sett => { sett.Name = "txtCustID"; }).GetHtml()
                </div>
                <div class="col-md-3" style="display:none;">
                    @Html.DevExpress().TextBox(sett => { sett.Name = "txtCustName"; }).GetHtml()
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-3" style="display:none;">
                    @Html.DevExpress().TextBox(sett => { sett.Name = "txtBudget"; }).GetHtml()
                </div>
                <div class="col-md-3" style="display:none;">
                    @Html.DevExpress().TextBox(sett => { sett.Name = "txtCurrBudget"; }).GetHtml()
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<br />
<br />
<div class="row" style="background-color:white;">
    <div class="row colrer" style="margin:0px;">
        <br /> <center>
            <b>
                Comments and Analysis code
            </b>
        </center>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <br />
            <div class="col-md-5">
                @Html.DevExpress().Memo(sett =>
           {
               sett.Name = "txtCommentsExternal";
               sett.Properties.Caption = "Comments";
               sett.ControlStyle.CssClass = "editor";
               sett.Height = System.Web.UI.WebControls.Unit.Pixel(100);
               sett.Width = System.Web.UI.WebControls.Unit.Pixel(200);


           }).GetHtml()

            </div>
            @{
                if (Convert.ToBoolean(Session["ONLNEREQNOM1"]))
                {
                    if (((List<Maximus.Models.SiteCodeModel>)ViewData["SiteCodes"]).Count > 0)
                    {
                        <div class="col-md-4">
                            @Html.DevExpress().ComboBox(txt =>
                       {
                           txt.Name = "cboSiteCode";
                           txt.Properties.Caption = Session["ONLNETXTNOM1"].ToString() == "" ? dp.CompanyParam("ONLNETXTNOM1", Session["CmpId"].ToString()) == "" ? "Site Code" : dp.CompanyParam("ONLNETXTNOM1", Session["CmpId"].ToString()) : Session["ONLNETXTNOM1"].ToString();
                       }).GetHtml();
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            @Html.DevExpress().TextBox(txt =>
                       {
                           txt.Name = "txtNomCode";
                           txt.Properties.Caption = Session["ONLNETXTNOM1"].ToString() == "" ? dp.CompanyParam("ONLNETXTNOM1", Session["CmpId"].ToString()) == "" ? "Site Code" : dp.CompanyParam("ONLNETXTNOM1", Session["CmpId"].ToString()) : Session["ONLNETXTNOM1"].ToString();
                           txt.Text = Session["ONLINEDEFNOM"].ToString() == "" ? dp.CompanyParam("ONLNEDEFNOM1", Session["CmpId"].ToString()) : Session["ONLINEDEFNOM"].ToString();
                       }).GetHtml();
                        </div>
                    }
                }

            }
            @{
                if (Convert.ToBoolean(Session["ONLNEREQNOM2"]))
                {
                    <div class="col-md-4">
                        @Html.DevExpress().TextBox(txt =>
                   {
                       txt.Name = "txtNomCode1";
                       txt.Properties.Caption = Session["ONLNETXTNOM2"].ToString();
                       txt.Text = Session["ONLINEDEFNOM"].ToString() == "" ? dp.CompanyParam("ONLNEDEFNOM2", Session["CmpId"].ToString()) : Session["ONLINEDEFNOM"].ToString();
                   }).GetHtml();
                    </div>
                }
            }

            <br />
            <br />
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <br />
            @{
                if (Convert.ToBoolean(Session["ONLNEREQNOM3"]))
                {
                    <div class="col-md-4">
                        @Html.DevExpress().TextBox(txt =>
                   {
                       txt.Name = "txtNomCode2";
                       txt.Properties.Caption = Session["ONLNETXTNOM3"].ToString();
                       txt.Text = Session["ONLINEDEFNOM"].ToString() == "" ? dp.CompanyParam("ONLNEDEFNOM3", Session["CmpId"].ToString()) : Session["ONLINEDEFNOM"].ToString();
                   }).GetHtml();
                    </div>
                }
            }
            @{
                if (Convert.ToBoolean(Session["pnlRolloutName"]))
                {
                    if (Convert.ToBoolean(Session["ONLNEREQNOM4"]))
                    {
                        <div class="col-md-4">
                            @Html.DevExpress().TextBox(txt =>
                   {
                       txt.Name = "txtNomCode3";
                       txt.Properties.Caption = Session["ONLNETXTNOM4"].ToString();
                       txt.Text = Session["ONLINEDEFNOM"].ToString() == "" ? dp.CompanyParam("ONLNEDEFNOM4", Session["CmpId"].ToString()) : Session["ONLINEDEFNOM"].ToString();
                   }).GetHtml();
                        </div>
                    }
                }
            }
            @{
                if (Convert.ToBoolean(Session["ONLNEREQNOM5"]))
                {
                    <div class="col-md-4">
                        @Html.DevExpress().TextBox(txt =>
                   {
                       txt.Name = "txtNomCode4";
                       txt.Properties.Caption = Session["ONLNETXTNOM5"].ToString();
                       txt.Text = Session["ONLINEDEFNOM"].ToString() == "" ? dp.CompanyParam("ONLNEDEFNOM5", Session["CmpId"].ToString()) : Session["ONLINEDEFNOM"].ToString();
                   }).GetHtml();
                    </div>
                }
            }
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<br />
<br />
<div class="row" style="background-color:white;">
    <div class="row colrer" style="margin:0px;">
        <br /> <center>
            <b>
                Delivery Address
            </b>
        </center>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <br />
            @Html.Action("GetEmployeeDeliveryAddress")
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<br />
<br />


@Html.DevExpress().Button(sett =>
{
    sett.Name = "Acceptorders";
    sett.ClientSideEvents.Click = "AcceptOrder";
    sett.ControlStyle.CssClass = "pull-right";
    sett.Text = "Accept order";
}).GetHtml()
<br />
<br />
<div class="row">
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px"><a onclick="GetNavigation('<')" title="Back"><span style="color:white;font-size:30px;" class="glyphicon glyphicon-chevron-left"></span></a></div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2" style="padding-left:0px"><a onclick="GetNavigation('>')" title="Next employee"><span style="color:white;font-size:30px;" class="glyphicon glyphicon-chevron-right"></span></a></div>
</div>

