<div class="row">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div><center><h3>Delivery Address</h3></center></div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELAddress1";
                                   s.Text = "Address1";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
           {
               s.Name = "DELtbxAddr1";
               s.Properties.ValidationSettings.RequiredField.ErrorText = "Address1 is required";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelAddress1 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.DelAddress1 != null).First().DelAddress1 : "";
               s.Properties.ValidationSettings.RequiredField.IsRequired = true;
               s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELAddress2";
                                   s.Text = "Address2";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
           {
               s.Name = "DELtbxAddr2";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelAddress1 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                               )Session["SalesOrderHeader"]).Where(sa => sa.DelAddress1 != null).First().DelAddress1 : "";
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELAddress3";
                                   s.Text = "Address3";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
         {
             s.Name = "DELtbxAddr3";
             s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelAddress3 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                              )Session["SalesOrderHeader"]).Where(sa => sa.DelAddress3 != null).First().DelAddress3 : "";
             s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
         }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELTown";
                                   s.Text = "Town";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
           {
               s.Name = "DELtbxTown";
               s.Properties.ValidationSettings.RequiredField.ErrorText = "Town is required";
               s.Properties.ValidationSettings.RequiredField.IsRequired = true;
               s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelTown != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                            )Session["SalesOrderHeader"]).Where(sa => sa.DelTown != null).First().DelTown : "";
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELCity";
                                   s.Text = "City";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "DELtbxCity";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelCity != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                          )Session["SalesOrderHeader"]).Where(sa => sa.DelCity != null).First().DelCity : "";
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELPostcode";
                                   s.Text = "Postcode";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
                            {
                                s.Name = "DELtbxPostcode";
                                s.Properties.ValidationSettings.RequiredField.ErrorText = "Postcode is required";
                                s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelPostCode != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                         )Session["SalesOrderHeader"]).Where(sa => sa.DelPostCode != null).First().DelPostCode : "";
                                s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                            }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELCountry";
                                   s.Text = "Country";
                               }).GetHtml()
                </div>
                <div class="col-md-8">

                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "DELtbxCountry";
                                   s.Text = "UK";
                                   s.ReadOnly = true;
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELEmail";
                                   s.Text = "Email";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "DELtbxEmail";
                                   s.Properties.ValidationSettings.RequiredField.ErrorText = "Email is required";
                                   s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.EmailID != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                         )Session["SalesOrderHeader"]).Where(sa => sa.EmailID != null).First().EmailID : "";
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblDELPhone";
                                   s.Text = "Phone";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().SpinEdit(s =>
                               {
                                   s.Name = "DELtbxPhone"; s.Properties.ValidationSettings.RequiredField.ErrorText = "Phone is required";
                                   s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                   s.Properties.SpinButtons.ShowIncrementButtons = false;
                                   
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div><center><h3>Billing Address</h3></center></div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress1";
                                   s.Text = "Address1";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
           {
               s.Name = "tbxAddr1";
               s.Properties.ValidationSettings.RequiredField.ErrorText = "Address1 is required";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress1 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress1 != null).First().InvAddress1 : "";
               s.Properties.ValidationSettings.RequiredField.IsRequired = true;
               s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress2";
                                   s.Text = "Address2";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
           {
               s.Name = "tbxAddr2";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress1 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                               )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress1 != null).First().InvAddress1 : "";
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress3";
                                   s.Text = "Address3";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
         {
             s.Name = "tbxAddr3";
             s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress3 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                              )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress3 != null).First().InvAddress3 : "";
             s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
         }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLTown";
                                   s.Text = "Town";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
           {
               s.Name = "tbxTown";
               s.Properties.ValidationSettings.RequiredField.ErrorText = "Town is required";
               s.Properties.ValidationSettings.RequiredField.IsRequired = true;
               s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvTown != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                            )Session["SalesOrderHeader"]).Where(sa => sa.InvTown != null).First().InvTown : "";
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLCity";
                                   s.Text = "City";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "tbxCity";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvCity != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                          )Session["SalesOrderHeader"]).Where(sa => sa.InvCity != null).First().InvCity : "";
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLPostcode";
                                   s.Text = "Postcode";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
                            {
                                s.Name = "tbxPostcode";
                                s.Properties.ValidationSettings.RequiredField.ErrorText = "Postcode is required";
                                s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvPostCode != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                         )Session["SalesOrderHeader"]).Where(sa => sa.InvPostCode != null).First().InvPostCode : "";
                                s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                            }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLCountry";
                                   s.Text = "Country";
                               }).GetHtml()
                </div>
                <div class="col-md-8">

                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "tbxCountry";
                                   s.Text = "UK";
                                   s.ReadOnly = true;
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLEmail";
                                   s.Text = "Email";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "tbxEmail";
                                   s.Properties.ValidationSettings.RequiredField.ErrorText = "Email is required";
                                   s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.EmailID != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                         )Session["SalesOrderHeader"]).Where(sa => sa.EmailID != null).First().EmailID : "";
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLPhone";
                                   s.Text = "Phone";
                               }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().SpinEdit(s =>
                               {
                                   s.Name = "tbxPhone"; s.Properties.ValidationSettings.RequiredField.ErrorText = "Phone is required";
                                   s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                   s.Properties.SpinButtons.ShowIncrementButtons = false;
                                    
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                </div>
            </div>
            <div class="row">
                <center>
                    @Html.DevExpress().CheckBox(s =>
                  {
                      s.Name = "ChkSameAsDel";
                      s.Text = "Same as delivery address";
                       s.Properties.ClientSideEvents.CheckedChanged = "ChangeBillingAddress";
                  }).GetHtml()
                </center>  
            </div>

        </div>
        <div class="col-md-1"></div></div>
        <div class="row">
            <center>
                @Html.DevExpress().Button(s => { s.Name = "btnSave"; s.Text = "Save"; s.ClientSideEvents.Click = "SaveBillingAddress"; s.UseSubmitBehavior = false; }).GetHtml()
                @Html.DevExpress().Button(s => { s.Name = "btnCancel"; s.Text = "Cancel"; s.ClientSideEvents.Click = "CloseDelAddPop"; s.UseSubmitBehavior = false; }).GetHtml()
            </center>
        </div>
    </div>