@if (((List<Maximus.Data.Models.BusAddress1>
                                                            )Session["DeliveryAddress"]).Count > 0)
{
    <div class="row">

        <div class="col-md-4">
            @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress1";
                                   s.Text = "Address1";
                               }).GetHtml()
        </div>
        <div class="col-md-6">
            @if (Convert.ToBoolean(ViewData["billEdit"]))
            {
                @Html.DevExpress().TextBox(s =>
           {
               s.Name = "tbxAddr1";
               s.Properties.ValidationSettings.RequiredField.ErrorText = "Address1 is required";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress1 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress1 != null).First().InvAddress1 : "";
               s.Properties.ValidationSettings.RequiredField.IsRequired = true;
               s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
            }
            else
            {
                @Html.DevExpress().Label(s =>
                           {
                               s.Name = "lblBLAddress1Val";
                               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress1 != null && sa.InvAddress1 != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress1 != null && sa.InvAddress1 != "").First().InvAddress1 : "";
                               s.ControlStyle.CssClass = "privDelAdd";
                           }).GetHtml()
            }
        </div>
        <div class="col-md-1">
        
        </div>
        <div class="col-md-1">
            @if (Convert.ToBoolean(ViewData["billEdit"]) == false)
            {<center><span class="glyphicon glyphicon-pencil" style="cursor:pointer" title="Change delivery or billing address" onclick="ShowAddressForm()"></span></center>}
        </div>
    </div><br />
    <div class="row">

        <div class="col-md-4">

            @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress2";
                                   s.Text = "Address2";
                               }).GetHtml()
        </div>
        <div class="col-md-6">
            @if (Convert.ToBoolean(ViewData["billEdit"]))
            {
                @Html.DevExpress().TextBox(s =>
           {
               s.Name = "tbxAddr2";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress1 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                               )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress1 != null).First().InvAddress1 : "";
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
            }
            else
            {
                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress2Val";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress2 != null && sa.InvAddress2 != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress2 != null && sa.InvAddress2 != "").First().InvAddress2 : "";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
            }
        </div>
        <div class="col-md-1">
            @*@Html.DevExpress().CheckBox(s => {
                    s.Name = "sameAsDelChk";
                    s.Text = "Same as delivery address";
                    s.Properties.ClientSideEvents.CheckedChanged = "setInvAddrasdelAddr";
                }).GetHtml()*@
        </div>

    </div><br />
    <div class="row">

        <div class="col-md-4">


            @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress3";
                                   s.Text = "Address3";
                               }).GetHtml()
        </div>
        <div class="col-md-6">
            @if (Convert.ToBoolean(ViewData["billEdit"]))
            { @Html.DevExpress().TextBox(s =>
         {
             s.Name = "tbxAddr3";
             s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress3 != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                              )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress3 != null).First().InvAddress3 : "";
             s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
         }).GetHtml()
            }
            else
            {
                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLAddress3Val";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvAddress3 != null && sa.InvAddress3 != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.InvAddress3 != null && sa.InvAddress3 != "").First().InvAddress3 : "";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
            }


        </div>

    </div><br />
    <div class="row">

        <div class="col-md-4">
            @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLTown";
                                   s.Text = "Town";
                               }).GetHtml()
        </div>
        <div class="col-md-6">
            @if (Convert.ToBoolean(ViewData["billEdit"]))
            {
                @Html.DevExpress().TextBox(s =>
           {
               s.Name = "tbxTown";
               s.Properties.ValidationSettings.RequiredField.ErrorText = "Town is required";
               s.Properties.ValidationSettings.RequiredField.IsRequired = true;
               s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
               s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvTown != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                            )Session["SalesOrderHeader"]).Where(sa => sa.InvTown != null).First().InvTown : "";
               s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
           }).GetHtml()
            }
            else
            {
                @Html.DevExpress().Label(s =>
           {
               s.Name = "lblBLTownVal";
               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvTown != null && sa.InvTown != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
              )Session["SalesOrderHeader"]).Where(sa => sa.InvTown != null && sa.InvTown != "").First().InvTown : "";
               s.ControlStyle.CssClass = "privDelAdd";
           }).GetHtml()
            }


        </div>

    </div><br />
    <div class="row">

        <div class="col-md-4">
            @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLCity";
                                   s.Text = "City";
                               }).GetHtml()
        </div>
        <div class="col-md-6">
            @if (Convert.ToBoolean(ViewData["billEdit"]))
            {
                @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "tbxCity";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvCity != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                          )Session["SalesOrderHeader"]).Where(sa => sa.InvCity != null).First().InvCity : "";
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
            }
            else
            {
                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLCityVal";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvCity != null && sa.InvCity != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
          )Session["SalesOrderHeader"]).Where(sa => sa.InvCity != null && sa.InvCity != "").First().InvCity : "";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
            }


        </div>

    </div><br />
                        <div class="row">

                            <div class="col-md-4">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLPostcode";
                                   s.Text = "Postcode";
                               }).GetHtml()
                            </div>
                            <div class="col-md-6">
                                @if (Convert.ToBoolean(ViewData["billEdit"]))
                                {@Html.DevExpress().TextBox(s =>
                            {
                                s.Name = "tbxPostcode";
                                s.Properties.ValidationSettings.RequiredField.ErrorText = "Postcode is required";
                                s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvPostCode != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                         )Session["SalesOrderHeader"]).Where(sa => sa.InvPostCode != null).First().InvPostCode : "";
                                s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                            }).GetHtml() }
                                else
                                {
                                    @Html.DevExpress().Label(s =>
                           {
                               s.Name = "lblBLPostcodeVal";
                               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.InvPostCode != null && sa.InvPostCode != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                    )Session["SalesOrderHeader"]).Where(sa => sa.InvPostCode != null && sa.InvPostCode != "").First().InvPostCode : "";
                               s.ControlStyle.CssClass = "privDelAdd";
                           }).GetHtml()
                                }
                            </div>
                        </div><br />
                        <div class="row">


                            <div class="col-md-4">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLCountry";
                                   s.Text = "Country";
                               }).GetHtml()
                            </div>
                            <div class="col-md-6">
                                @if (Convert.ToBoolean(ViewData["billEdit"]))
                                {
                                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "tbxCountry";
                                   s.Text = "UK";
                                   s.ReadOnly = true;
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                                }
                                else
                                {
                                    @Html.DevExpress().Label(s =>
                           {
                               s.Name = "lblBLCountryVal";
                               s.Text = "UK";
                               s.ControlStyle.CssClass = "privDelAdd";
                           }).GetHtml()
                                }

                            </div>

                        </div><br />
                        <div class="row">


                            <div class="col-md-4">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLEmail";
                                   s.Text = "Email";
                               }).GetHtml()
                            </div>
                            <div class="col-md-6">
                                @if (Convert.ToBoolean(ViewData["billEdit"]))
                                {
                                    @Html.DevExpress().TextBox(s =>
                               {
                                   s.Name = "tbxEmail";
                                   s.Properties.ValidationSettings.RequiredField.ErrorText = "Email is required";
                                   s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.EmailID != null) ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                         )Session["SalesOrderHeader"]).Where(sa => sa.EmailID != null).First().EmailID : "";
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()
                                }
                                else
                                {
                                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLEmailVal";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.EmailID != null && sa.EmailID != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                    )Session["SalesOrderHeader"]).Where(sa => sa.EmailID != null && sa.EmailID != "").First().EmailID : ""; ;
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                                }


                            </div>

                        </div><br />
                        <div class="row">


                            <div class="col-md-4">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLPhone";
                                   s.Text = "Phone";
                               }).GetHtml()
                            </div>
                            <div class="col-md-6">
                                @if (Convert.ToBoolean(ViewData["billEdit"]))
                                {
                                    @Html.DevExpress().SpinEdit(s =>
                               {
                                   s.Name = "tbxPhone"; s.Properties.ValidationSettings.RequiredField.ErrorText = "Phone is required";
                                   s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                                   s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                                   s.Properties.SpinButtons.ShowIncrementButtons = false;
                                   s.Number = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.Mobile != null) ? Convert.ToInt64(((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                    )Session["SalesOrderHeader"]).Where(sa => sa.Mobile != null).First().Mobile) : 0;
                                   s.ControlStyle.CssClass = "privDelAdd InvAddrInp";
                               }).GetHtml()}
                                else
                                {
                                    @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblBLPhoneVal";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.Mobile != null && sa.Mobile != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                    )Session["SalesOrderHeader"]).Where(sa => sa.Mobile != null && sa.Mobile != "").First().Mobile : "";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                                }


                            </div>


                        </div>
    if (Convert.ToBoolean(ViewData["billEdit"]))
    {<br /><br />
                        <div class="row">
                            <center>
                                @Html.DevExpress().Button(s => { s.Name = "btnSave"; s.Text = "Save"; s.ClientSideEvents.Click = "SaveBillingAddress"; s.UseSubmitBehavior = false; }).GetHtml()
                                @Html.DevExpress().Button(s => { s.Name = "btnCancel"; s.Text = "Cancel"; s.ClientSideEvents.Click = "SaveBillingAddress"; s.UseSubmitBehavior = false; }).GetHtml()
                            </center>
                        </div>
    }
    @*<div class="row">
        <center>
            @Html.DevExpress().CheckBox(s =>
       {
           s.Name = "sameAsDelChk";
           s.Text = "Same as delivery address";
           s.Properties.ClientSideEvents.CheckedChanged = "setInvAddrasdelAddr";
           s.Checked = Session["setdeladdr"] != null ? Convert.ToBoolean(Session["setdeladdr"]) : false;
       }).GetHtml()
        </center>
    </div>*@
}
