@model IEnumerable<Maximus.Data.models.StyleCatagoryModel>
@*<br />
    <fieldset class='swatch-picker' name="Swatch_Catagory">
        @foreach (var item in Model)
        {

            <label class='swatchLabel'><input type='radio' name="swatch_Style_Catgory" id='radio' value='blue' /><span class='spanner1' onclick='FilterBasedonCat(@item.groupid)' style="font-size:14px;"><center> @item.groupname </center></span></label>
        }
    </fieldset>*@
<h3>
    Product Catagories
</h3>
<br />
@foreach (var item in Model.OrderBy(s => s.groupname))
{
    <div class="dot">
        <div class="CatagoryCard" id="CATAGORY_@item.groupid" onclick='FilterBasedonCat(@item.groupid)'><span class="badge pull-right" style="background-color:white;color:darkcyan" title="@item.count products"><b>@item.count</b></span><br /><center><div><img src="@item.groupImage" style="height:90px;width:85px;" /></div><br /><br /><span style="font-size:14px;">@item.groupname</span></center></div>
    </div>
        @*<span class="dot"><span class="hide">@item.groupname</span> <img class="dot1" src="@item.groupImage" /></span>*@
}
<br /><br />
