<script>
    $(document).ready(function () {
        $('#menu-toggle').click();
        PrivateMessagePop();
    });
 </script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Private orders</h2>

<div class="row backgrnd">
    <br />
    @*<div class="col-md-2">
        <span class="glyphicon glyphicon-th" onclick="ShowRnC();"></span>

        </div>*@
    @*@Html.ActionLink("Return to employee grid", "Index", "Employee")*@

    <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7">
        @{
            if (Session["BuisnessId"] != null)
            {
                if (Session["SelectedEmp"] != null && Session["SelectedEmp"] != "")
                {
                    var s = Convert.ToInt32(Session["qty"]);
                    //string content = string.Format("<div class=\"col-md-3\" style=\"padding:0px;\" ><p><b>Employee Id:</b></p>{0}</div> <div style=\"padding:0px;\" class=\"col-md-3\"> <p><b>EmployeeName:</b></p> {2}</div><div style=\"padding:0px;\" class=\"col-md-4\"> <p><b>Ucodes:</b></p> {1}</div><div class=\"col-md-2\"> <p><b>Business Id:</b></p>" + Session["BuisnessId"].ToString() + "</div>", Session["SelectedEmp"].ToString(), Session["UcodeDesc"].ToString(), Session["EmpName"].ToString());
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-2">
                                <center><span style="font-size:35px;" class="glyphicon glyphicon-user"></span></center>
                            </div>
                            <div class="col-md-4">
                                <span><b>Employee Id:</b> </span><br />
                                <span><b>EmployeeName:</b> </span>
                            </div>
                            <div class="col-md-6">
                                <span> @Session["SelectedEmp"].ToString()</span><br /> <span>@Session["EmpName"].ToString()</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        @{if (((List<string>)Session["Templates"]).Count() > 0)
                            {

                                <span><b>Template:</b></span>ViewContext.Writer.Write(string.Format("{0}", Session["UcodeDesc"].ToString()));

                            }
                            else
                            { <span><b>Ucode:</b></span>
                                ViewContext.Writer.Write(string.Format("{0}", Session["UcodeDesc"].ToString()));
                            }
                        }
                    </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    @{  <span><b>Ucode:</b></span>
                                        ViewContext.Writer.Write(string.Format("{0}", Session["UcodeDesc"].ToString()));

                                    }
                                </div>
                                            }
                                        }
                                        else
                                        {
                                            if (Session["SelectedEmp"] != null)
                                            {
                                                var s = Convert.ToInt32(Session["qty"]);
                                                string content = "";
                                                if (((List<string>)Session["Templates"]).Count > 0)
                                                {
                                                    content = string.Format("<div class=\"col-md-3\"><p><b>Employee Id:</b></p>{0}  </div> <div class=\"col-md-3\"> <p><b>EmployeeName:</b></p> {2}</div><div class=\"col-md-6\"> <p><b>Templates:</b></p> {1}</div><div class=\"col-md-12\"> <p><b>Ucode Description:</b></p>{3}</div>", Session["SelectedEmp"].ToString(), Session["SelectedUcode"].ToString(), Session["EmpName"].ToString(), Session["UcodeDesc"].ToString());
                                                }
                                                else
                                                {
                                                    content = string.Format("<div class=\"col-md-3\"><p><b>Employee Id:</b></p>{0}  </div> <div class=\"col-md-3\"> <p><b>EmployeeName:</b></p> {2}</div><div class=\"col-md-6\"> <p><b>Ucodes:</b></p> {1}</div><div class=\"col-md-12\"> <p><b>Ucode Description:</b></p>{3}</div>", Session["SelectedEmp"].ToString(), Session["SelectedUcode"].ToString(), Session["EmpName"].ToString(), Session["UcodeDesc"].ToString());
                                                }
                                                ViewContext.Writer.Write(content);
                                            }
                                        }
        }


    </div>
     <div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
        @Html.DevExpress().CheckBox(s => {
       s.Name = "ShowVat";
       s.Text = "Show prices with VAT";
       s.Checked = Convert.ToBoolean(Session["SHOWVAT"]);
       s.Properties.ClientSideEvents.CheckedChanged = "ChangeVatStatus";
   }).GetHtml()
    </div> 
    </div>
<br />
 
<div class="row" style="padding:0px">
    <div class="container-fluid" style="margin:0px;background-color:white;color:black;border:solid 3px #009885;">
     @Html.Action("GetAllCatagory")   
    </div>
    <br />

    @Html.DevExpress().ButtonEdit(sett =>
   {
       sett.Name = "searchPanelPrivate";
       sett.ControlStyle.BackColor = System.Drawing.Color.White;
       sett.ReadOnly = false;
       //sett.ControlStyle.CssClass = "input-group changethisone";
       sett.Properties.Buttons.Add("<span disabled class=\"input-group-addon\"><span class=\"glyphicon glyphicon-search\"></span></span>");
       sett.Width = System.Web.UI.WebControls.Unit.Percentage(100);
       sett.Properties.ClientSideEvents.TextChanged = "filterresults1";
       sett.EncodeHtml = false;
   }).GetHtml()
    <br />
    <div id="resultArea">
        @Html.Action("PrivateCardViewPartial")
    </div>

 </div>