@{
    ViewBag.Title = "ShowBasket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Maximus.Data.Interface.Concrete.IUnitOfWork _unitOfWork = new Maximus.Data.InterFace.UnitOfWork();
    Maximus.Data.Models.DataProcessing dp = new Maximus.Data.Models.DataProcessing(_unitOfWork);
}
<br />
@Html.DevExpress().Button(s =>
{
    s.Name = "btnBack";
    s.Text = "Back";
    s.ClientSideEvents.Click = "function(){window.history.back();}";
}).GetHtml()
<br />
<h2><span class="glyphicon glyphicon-shopping-cart" title="Bakset"></span> Your Orders</h2>

<div class="row" style="background-color:darkgrey;padding: 3px;">
    @if ((bool)Session["IsBulkOrder1"] == false)
    { <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">

        @Html.Action("EmployeeView")

    </div>
    }

    @{
        <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12" style="background-color:white;">
            <br />
            <div id="CART" style="overflow:scroll;">@Html.Action("CartView")</div>

            <br />

            <div class="row">

                <div class="row colrer" style="margin:0px;">
                    <br /> <center>
                        <b>
                            Carriage and Reasons
                        </b>
                    </center>
                    <br />
                </div>
                <div class="row">

                    <div class="col-md-11 col-lg-11 col-xs-12 col-sm-12">

                        <br />
                        @{
                            if (Session["ctlCarrier"].ToString().ToLower() != "hide")
                            {
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12" style="color:black;">Carrier:</div>
                                        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                            @Html.DevExpress().ComboBox(x =>
                               {
                                   x.Name = "CarriageCmbbox";
                                   //x.Properties.Caption = "Carrier";
                                   foreach (var dat in (List<string>)ViewData["carrierFill"])
                                   {

                                       x.Properties.Items.Add(dat);
                                   }
                                   if (ViewData["selectedcar"] != null)
                                   {
                                       x.SelectedIndex = ((List<string>)ViewData["carrierFill"]).IndexOf(Session["selectedcar"].ToString());
                                   }
                                   x.Properties.ClientSideEvents.SelectedIndexChanged = "SettbxValue";
                               }).GetHtml();<br /><br />
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <span>
                                            <b id="CarriageValueBox" style="color:black;">
                                                @{

                                                    var data = Session["selectedcar"] != null ? Session["selectedcar"].ToString() : "";
                                                    var res = System.Text.RegularExpressions.Regex.Replace(data, @"[0-9\-]", string.Empty);
                                                    res = res.Contains('|') ? res.Replace('|', ' ') : "";
                                                    ViewContext.Writer.Write(res.Trim());}
                                            </b>
                                        </span>
                                    </div>
                                </div>
                                                    } }
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12" style="color:black;">Carrier style:</div>
                                <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                    @Html.DevExpress().ComboBox(x =>
                               {
                                   x.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                   x.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                                   x.Name = "CarriageStyleCmbboxRtn";
                                   var emp = Session["SelectedEmp"].ToString();
                                   if (((List<string>)ViewData["carrierStyleFill"]).Count > 1)
                                   {
                                       foreach (var dat in (List<string>)ViewData["carrierStyleFill"])
                                       {
                                           int idx = ((List<string>)ViewData["carrierStyleFill"]).IndexOf(dat);
                                           if (((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Where(s => s.EmployeeID == emp).First().SalesOrderLine.Any(s => s.isCarrline))
                                           {

                                               var carrStyl = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Where(s => s.EmployeeID == emp).First().SalesOrderLine.Where(s => s.isCarrline).First().StyleID;
                                               if (carrStyl == dat)
                                               {
                                                   x.SelectedIndex = idx;
                                               }
                                           }
                                           x.Properties.Items.Add(dat);
                                       }
                                   }
                                   else
                                   {
                                       foreach (var dat in (List<string>)ViewData["carrierStyleFill"])
                                       {

                                           x.Properties.Items.Add(dat);
                                       }
                                       x.SelectedIndex = 0;
                                       x.ReadOnly = true;
                                   }

                                   x.Properties.ClientSideEvents.SelectedIndexChanged = "CarriageStyleCmbboxchangePrivate";
                               }).GetHtml();<br /><br />
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row" style="color:dimgray;">
                <div class="col-md-4">
                    <center><h2>Delivery Address</h2></center>
                    <hr />

                    @if (((List<Maximus.Data.Models.BusAddress1>
)Session["DeliveryAddress"]).Count > 0)
                    {
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblAddress1";
                                   s.Text = "Address1";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                           {
                               s.Name = "lblAddress1Val";
                               s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelAddress1 != null && sa.DelAddress1 != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.DelAddress1 != null && sa.DelAddress1 != "").First().DelAddress1 : "-";
                               s.ControlStyle.CssClass = "privDelAdd";
                           }).GetHtml()
                            </div>
                            <div class="col-md-1">
                                <center><span class="glyphicon glyphicon-pencil" style="cursor:pointer" title="Change delivery or billing address" onclick="ShowAddressForm()"></span></center>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblAddress2";
                                   s.Text = "Address2";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblAddress2Val";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelAddress2 != null && sa.DelAddress2 != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.DelAddress2 != null && sa.DelAddress2 != "").First().DelAddress2 : "-";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                            </div>
                            <div class="col-md-1"></div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblAddress3";
                                   s.Text = "Address3";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblAddress3Val";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelAddress3 != null && sa.DelAddress3 != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.DelAddress3 != null && sa.DelAddress3 != "").First().DelAddress3 : "-";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                            </div>
                            <div class="col-md-1"></div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblTown";
                                   s.Text = "Town";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblTownVal";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelTown != null && sa.DelTown != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.DelTown != null && sa.DelTown != "").First().DelTown : "-";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                            </div>
                            <div class="col-md-1"></div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblCity";
                                   s.Text = "City";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblCityVal";
                                   s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelCity != null && sa.DelCity != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                        )Session["SalesOrderHeader"]).Where(sa => sa.DelCity != null && sa.DelCity != "").First().DelCity : "-";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                            </div>
                            <div class="col-md-1"></div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblPostcode";
                                   s.Text = "Postcode";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                                   {
                                       s.Name = "lblPostcodeVal";
                                       s.Text = ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>)Session["SalesOrderHeader"]).Any(sa => sa.DelPostCode != null && sa.DelPostCode != "") ? ((List<Maximus.Data.Models.SalesOrderHeaderViewModel>
                                            )Session["SalesOrderHeader"]).Where(sa => sa.DelPostCode != null && sa.DelPostCode != "").First().DelPostCode : "-";
                                       s.ControlStyle.CssClass = "privDelAdd";
                                   }).GetHtml()
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-1"></div>

                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblCountry";
                                   s.Text = "Country";
                               }).GetHtml()
                            </div>
                            <div class="col-md-5">
                                @Html.DevExpress().Label(s =>
                               {
                                   s.Name = "lblCountryVal";
                                   s.Text = "UK";
                                   s.ControlStyle.CssClass = "privDelAdd";
                               }).GetHtml()
                            </div>
                            <div class="col-md-1"></div>
                        </div><br />
                    }
                </div>
                <div class="col-md-5">
                    <center><h2>Billing Address</h2></center>
                    <hr />
                    <div id="BILLADDPRIVATE">@Html.Action("BillingPrivate")</div>
                </div>
                <div class="col-md-3">
                    <center><h2>Total</h2></center>
                    <hr />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblTotGoods"; s.Text = "Total Goods"; }).GetHtml()
                        </div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblTotGoodsVal"; s.Text = ViewBag.ordeTotal != null ? ViewBag.ordeTotal.ToString("0.00") : ""; s.ControlStyle.CssClass = "privDelAdd"; }).GetHtml()
                        </div>
                        <div class="col-md-1"></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblCarrCharges"; s.Text = "Carrier Charges"; }).GetHtml()
                        </div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblCarrChargesVal"; s.Text = ViewBag.carriage != null ? ViewBag.carriage.ToString("0.00") : ""; s.ControlStyle.CssClass = "privDelAdd"; }).GetHtml()
                        </div>
                        <div class="col-md-1"></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblOrdTotal"; s.Text = "Order Total"; }).GetHtml()
                        </div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblOrdTotalVal"; s.Text = ViewBag.Total != null ? ViewBag.Total.ToString("0.00") : ""; s.ControlStyle.CssClass = "privDelAdd"; }).GetHtml()
                        </div>
                        <div class="col-md-1"></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblOrdVAT"; s.Text = "Total VAT"; }).GetHtml()
                        </div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblOrdVATVal"; s.Text = ViewBag.totalVat != null ? ViewBag.totalVat.ToString("0.00") : ""; s.ControlStyle.CssClass = "privDelAdd"; }).GetHtml()
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblOrdGrandTot"; s.Text = "Grand Total"; s.ControlStyle.ForeColor = System.Drawing.Color.DarkCyan; }).GetHtml()
                        </div>
                        <div class="col-md-5">
                            @Html.DevExpress().Label(s => { s.Name = "lblOrdGrandTotVal"; s.Text = ViewBag.GrossTotal != null ? ViewBag.GrossTotal.ToString("0.00") : ""; s.ControlStyle.CssClass = "privDelAdd"; s.ControlStyle.ForeColor = System.Drawing.Color.DarkCyan; }).GetHtml()
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <hr />
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2  col-lg-2 col-xs-12 col-sm-12">
                    @Html.DevExpress().Button(sett =>
                   {
                       sett.Name = "ContinueShopping"; sett.ClientSideEvents.Click = "ContinueShopPrivate"; sett.ControlStyle.CssClass = "pull-right";
                       sett.Text = "Continue shopping";
                   }).GetHtml()
                </div>

            </div>
            <br />
        </div>
    }





</div>
<br />
<br />
<div class="row">
    @*<div class="col-md-1 col-xs-1 col-sm-1 col-lg-1 col-xs-1 col-sm-1 col-lg-1" style="padding-right:0px"><a onclick="GetNavigation('<')" title="Back"><span style="color:white;font-size:30px;" class="glyphicon glyphicon-chevron-left"></span></a></div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2" style="padding-left:0px"><a onclick="GetNavigation('>')" title="Next employee"><span style="color:white;font-size:30px;" class="glyphicon glyphicon-chevron-right"></span></a></div>*@
    <div class="col-md-4">
        @Html.DevExpress().Button(s =>
   {
       s.Name = "BackBtn1";
       s.Text = "Back";
       s.ClientSideEvents.Click = "function(){window.history.back();}";
   }).GetHtml()
    </div>
    <div class="col-md-4">
        <center>


            @{
                if (Convert.ToBoolean(Session["IsBulkOrder1"]) && Session["cmdAcceptConfirm"].ToString() == "show")
                {
                    Html.DevExpress().Button(sett =>
                    {
                        sett.Name = "AcceptordersAndcnf";
                        sett.ClientSideEvents.Click = "AcceptOrder";
                        sett.ControlStyle.CssClass = "acceptBtn";
                        sett.Text = "AcceptOrder and Confirm";
                    }).GetHtml();
                }
                else
                {
                    @Html.DevExpress().Button(sett =>
   {
       sett.Name = "Acceptorders";
       sett.ClientSideEvents.Click = "AcceptOrderPrivate";
       sett.ControlStyle.CssClass = "acceptBtn";
       sett.Text = "Accept order";
   }).GetHtml()
                }
            }
        </center>
    </div>
    <div class="col-md-4">

    </div>


</div>
