<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 checList">
        <fieldset>
            <br /><br />

            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 divpadder">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("EmployeeId")
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.DevExpress().TextBox(x => { x.Name = "FilterEmployeeId"; x.Width = System.Web.UI.WebControls.Unit.Percentage(100); }).GetHtml()
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 divpadder">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("Name")
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.DevExpress().TextBox(x => { x.Name = "FilterEmpFirstName"; x.Width = System.Web.UI.WebControls.Unit.Percentage(100); }).GetHtml()
                </div>
            </div>@if (((List<Maximus.Data.Models.EmployeeViewModel>)Session["EmployeeViewModel"]).Where(x => x.role != "" && x.role != null).Select(x => x.role).Distinct().Count() > 1)
            {
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 divpadder">
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                        @Html.Label("Roles")
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                        @Html.DevExpress().TextBox(x => { x.Name = "FilterRoles"; x.Width = System.Web.UI.WebControls.Unit.Percentage(100); }).GetHtml()
                    </div>
                </div>
            }
            @if (((List<Maximus.Data.Models.EmployeeViewModel>)Session["EmployeeViewModel"]).Select(x => x.Department).Distinct().Count() > 1)
            {
                var sq = ((List<Maximus.Data.Models.EmployeeViewModel>)Session["EmployeeViewModel"]).Where(x => x.Department != "" && x.Department != null).Select(x => x.Department).Distinct();
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 divpadder">
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                        @Html.Label("Department")
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                        @Html.DevExpress().TextBox(x => { x.Name = "FilterDepartment"; x.Width = System.Web.UI.WebControls.Unit.Percentage(100); }).GetHtml()
                    </div>
                </div>}
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 divpadder">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("Ucode")
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.DevExpress().TextBox(x => { x.Name = "FilterEmpUcodes"; x.Width = System.Web.UI.WebControls.Unit.Percentage(100); }).GetHtml()
                </div>
            </div>
            
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 divpadder">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.DevExpress().Button(x => { x.Name = "btnFilterSubmit"; x.Text = "Submit";  x.ClientSideEvents.Click = "GetEmpGrid"; }).GetHtml()
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.DevExpress().Button(x => { x.Name = "btnGetAll"; x.Text = "Get all"; x.ClientSideEvents.Click = "GetAllEmps"; }).GetHtml()
                </div>
            </div>
            <br />
            <br />
        </fieldset>
    </div>
    
</div>

