<script>
    $(document).ready(function () {
        //checkEmpEmail();
        //GetRolloutCheck();
        EmergencyMessagePop();
    });
</script>

@{
    if ((bool)Session["IsManPack"])
    {
        ViewBag.Title = "Employee";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SiteCodeUserAddress = (Maximus.Data.models.SiteCodeUserAddress)Session["SiteCodeNAddress"];
}
<div class="row">
    <center>
        @*<div class="col-md-3">
            @{

                if (Convert.ToBoolean(Session["hasSiteCode"].ToString()))
                {
                    if (Session["SiteCodeNAddress"] != null)
                    {
                        if ((SiteCodeUserAddress.UserAddress != null) && SiteCodeUserAddress.SiteCode != null)
                        {
                            if ((SiteCodeUserAddress.UserAddress.Address1 != null) && (SiteCodeUserAddress.UserAddress.Address1 != "") && SiteCodeUserAddress.SiteCode.Count() > 0)
                            {
                <div class="row">
                    <br />
                    <div class="colmd-1">

                    </div>
                    <div class="colmd-10">
                        <div class="container" style="background:white;color:#009885;border-radius:20px">
                            <div class="col-md-2"></div>
                            @if (SiteCodeUserAddress.UserAddress.Address1 != "" && SiteCodeUserAddress.UserAddress.Address1 != null)
                            {
                                <div class="col-md-4">
                                    <h3>Address:</h3>
                                    <br />
                                    <p style="font-weight:600;margin-bottom:3px">@SiteCodeUserAddress.UserAddress.Address1 ,</p>  <p style="font-weight:600;margin-bottom:3px">@SiteCodeUserAddress.UserAddress.Address2,</p> <p style="font-weight:600;margin-bottom:3px">@SiteCodeUserAddress.UserAddress.Address3,</p>  <p style="font-weight:600;margin-bottom:3px">@SiteCodeUserAddress.UserAddress.Town,</p>  <p style="font-weight:600;margin-bottom:3px">@SiteCodeUserAddress.UserAddress.City,</p> <p style="font-weight:600;margin-bottom:3px">@SiteCodeUserAddress.UserAddress.Postcode </p><br />
                                </div>
                            }
                            @if (SiteCodeUserAddress.SiteCode.Count() > 0)
                            {
                                <div class="col-md-4">
                                    <h3>SiteCode:</h3>
                                    <br />
                                    @foreach (var item in SiteCodeUserAddress.SiteCode)
                                    {
                                        if (SiteCodeUserAddress.SiteCode.IndexOf(item) == SiteCodeUserAddress.SiteCode.Count)
                                        {
                                            <b>@item</b><br />
                                        }
                                        else
                                        {
                                            <b>@item</b>

                                        }

                                    }
                                </div>
                            }

                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="colmd-1">

                    </div><br />
                </div>     }
                            else if (SiteCodeUserAddress.SiteCode.Count() > 0)
                            {

                <h3>Sitecodes:</h3>
                                foreach (var item in SiteCodeUserAddress.SiteCode)
                                {
                                    if (SiteCodeUserAddress.SiteCode.IndexOf(item) == SiteCodeUserAddress.SiteCode.Count)
                                    {
                <b>@item</b><br />
                                    }
                                    else
                                    {
                <b>@item</b>

                                    }

                                }


                            }
                        }
                        else if (SiteCodeUserAddress.SiteCode != null)
                        {
                            if (SiteCodeUserAddress.SiteCode.Count() > 0)
                            {
                <h3>Sitecodes:</h3>
                                foreach (var item in SiteCodeUserAddress.SiteCode)
                                {
                                    if (SiteCodeUserAddress.SiteCode.IndexOf(item) == SiteCodeUserAddress.SiteCode.Count)
                                    {
                <b>@item</b><br />
                                    }
                                    else
                                    {
                <b>@item</b>

                                    }

                                }



                            }
                        }<br /><br />
                        }
                    }
                }
                </div>*@

        @if (Convert.ToBoolean(Session["OnStop"]) == false)
        {
            if (((List<Maximus.Data.Models.EmployeeViewModel>)Session["EmployeeViewModel"]).Count != 1 && (bool)Session["IsBulkOrder1"] == false)
            {
                @Html.DevExpress().RoundPanel(settings =>
       {
           settings.Name = "empFilter";
           settings.AllowCollapsingByHeaderClick = true;
           settings.ShowCollapseButton = true;
           settings.ShowHeader = true;
           settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
           //settings.View = Model.View;
           settings.EnableAnimation = true;
           settings.HeaderText = "Employee Search";
           settings.ClientSideEvents.BeginCallback = "setCollapsed";
           settings.ClientSideEvents.EndCallback = "setCollapsed";
           settings.SetHeaderTemplateContent(X => { ViewContext.Writer.Write("<center><span class='glyphicon glyphicon-search'></span> Employee search</center>"); });
           settings.SetContent(() => Html.RenderPartial("_EmpFilter"));
       }).GetHtml()
            }
        }


    </center>
</div>


@if ((bool)Session["IsBulkOrder1"])
{
    <div class="row">
        <div id="EmployeeGridViewPartial">
            <center>@Html.Action("BulkOrderPartial")</center>
        </div>
    </div>
}

@if ((bool)Session["IsManPack"])
{



    if (Convert.ToBoolean(Session["OnStop"]))
    {
        <br />
                                                        <center>
                                                            <h3 style="color:white">
                                                                Sorry but you cannot place any orders at the moment . Please contact customer services
                                                            </h3>
                                                        </center>
                                                        <br />
    }

    if (ViewBag.HideSearch)
    {

        <div class="row">
            <div id="EmployeeGridViewPartial">
            </div>
        </div>
    }
    else
    {
        <div class="row">

            <div class="col-md-12">
                <div id="EmployeeGridViewPartial">
                    @Html.Action("EmployeeGridViewPartial")
                </div>
            </div>

        </div>
    }
}

















        @*<div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="ROW">
                    <div class="col-md-2 col-lg-2 col-xs-4 col-sm-4">
                        <center><b>freestock: 20</b></center>
                        <center>
                            <label class='swatchLabel'>

                                <input type='radio' checked id='radio' />
                                <span class='spanner1'>
                                    <center>1</center>
                                </span>
                            </label>
                        </center>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xs-4 col-sm-4">
                        <center><b>freestock: 20</b></center>
                        <center>
                            <label class='swatchLabel'>
                                <input type='radio' checked id='radio' />
                                <span class='spanner1'>
                                    <center>2</center>
                                </span>
                            </label></center>
</div>
                </div>

            </div>
            <div class="col-md-2"></div>




        </div>*@
